@font-face {
  font-family: 'avenirBook';
  src: url("../fonts/Avenir-Book.woff"); }

@font-face {
  font-family: 'avenirBlack';
  src: url("../fonts/Avenir-Black.woff"); }

body {
  background-color: black;
  font-family: 'avenirBook'; }

#header_content {
  min-width: 850px; }
  #header_content #logo_zone {
    width: 70%;
    float: left;
    padding-top: 15px;
    padding-left: 15px; }
    #header_content #logo_zone #main_logo {
      width: 250px; }
  #header_content #contact_zone {
    padding-top: 47px;
    color: #00ffbb;
    float: left; }
  #header_content a:link {
    font-size: .8em;
    color: #00ffbb;
    text-decoration: none; }
  #header_content a:visited {
    font-size: .8em;
    color: #00ffbb;
    text-decoration: none; }
  #header_content #blog_link {
    padding-right: 10px;
    font-size: .8em; }
  #header_content #contact_link {
    padding-left: 10px;
    font-size: .8em; }
  #header_content #full_content_image {
    width: 25px;
    padding-top: 45px;
    margin-left: 30px;
    margin-right: 30px;
    float: left;
    cursor: pointer; }
  #header_content #mute_video {
    padding-top: 43px; }
    #header_content #mute_video img {
      height: 30px;
      cursor: pointer; }

aside[id="{slidr-id}-control"] .slidr-control:hover {
  opacity: .5; }

#main_container {
  min-width: 500px;
  width: 500px;
  height: auto;
  z-index: -9999999;
  margin-top: 100px;
  display: block;
  padding-left: 10%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  #main_container h1 {
    font-weight: 700;
    color: #f2eacf;
    margin-bottom: -25px;
    font-size: 2.0em;
    opacity: 0.5;
    font-family: 'avenirBlack'; }
  #main_container h4 {
    color: #00ffbb;
    font-size: 1.1em;
    margin-bottom: 0px;
    margin-top: 30px; }
  #main_container h5 {
    color: #f2eacf;
    font-size: 1.2em;
    margin-top: 5px;
    font-style: italic;
    font-family: 'avenirBook'; }
  #main_container #email_field {
    margin-top: 30px;
    margin-bottom: 12px;
    width: 100%; }
    #main_container #email_field input {
      width: 100%;
      font-size: 0.8em;
      color: white; }
    #main_container #email_field input[type="email"] {
      background: rgba(0, 0, 0, 0.2);
      border: 4px solid rgba(255, 255, 255, 0.3);
      padding: 15px 0px 15px 20px; }
  #main_container .success {
    display: none; }
  #main_container #error {
    color: #ff3300;
    display: none; }
  #main_container #username_field {
    margin-top: 30px;
    width: 100%; }
    #main_container #username_field input {
      width: 100%;
      font-size: 0.8em;
      color: white; }
    #main_container #username_field input[type="text"] {
      background: rgba(0, 0, 0, 0.2);
      border: 4px solid rgba(255, 255, 255, 0.3);
      padding: 15px 0px 15px 20px; }
  #main_container #submit_field {
    width: 100%;
    margin-top: 10px; }
    #main_container #submit_field button {
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
      box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
      color: #333333;
      background-color: #ff3300;
      border: none;
      font-size: 16px;
      font-weight: 400;
      height: 48px;
      padding: 4px 36px; }
  #main_container .twitter {
    margin-left: -20px; }
    #main_container .twitter img {
      width: 30px;
      margin-top: 3px; }
    #main_container .twitter .fb_share {
      width: 13px;
      margin-left: 15px; }
  #main_container #social_share {
    display: none;
    margin-bottom: -50px;
    text-align: center;
    margin-top: 25px; }
  #main_container .url_success {
    display: none;
    margin-top: 100px; }
  #main_container #submit_video {
    margin-top: 100px;
    display: none; }
  #main_container #video_url {
    margin-top: 30px;
    margin-bottom: 12px;
    width: 100%; }
    #main_container #video_url input {
      width: 100%;
      font-size: 0.8em;
      color: white; }
    #main_container #video_url input[type="url"] {
      background: transparent;
      border: 4px solid rgba(255, 255, 255, 0.3);
      padding: 15px 0px 15px 20px; }
  #main_container #submit_video_field {
    width: 100%;
    margin-top: 10px; }
    #main_container #submit_video_field button {
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
      box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
      color: #333333;
      background-color: #ff3300;
      border: none;
      font-size: 16px;
      font-weight: 400;
      height: 48px;
      padding: 4px 36px; }

aside[id*="-control"] .slidr-control.up:after {
  border-color: transparent !important;
  width: 50px !important;
  height: 50px !important;
  top: 50% !important;
  margin-top: -25px !important;
  right: 0px !important;
  border-radius: 25px;
  background: url("../img/up_arrow.png") 0px 0px no-repeat; }

aside[id*="-control"] .slidr-control.down:after {
  border-color: transparent !important;
  width: 50px !important;
  height: 50px !important;
  top: 50% !important;
  margin-top: -25px !important;
  right: 0px !important;
  border-radius: 25px;
  background: url("../img/down_arrow.png") 0px 0px no-repeat; }

#slidr-div-control {
  margin-right: 10px;
  margin-bottom: 10px; }

ul.parsley-error-list {
  color: #ff3300;
  list-style: none;
  margin-top: 5px; }

ul.username-error-list {
  display: none;
  color: #ff3300;
  list-style: none;
  margin-top: 5px; }

.videoWrapper {
  position: relative;
  padding-top: 25px;
  margin-top: 100px;
  margin-left: 10%;
  z-index: 9999;
  width: 80%;
  height: 100%; }

.center_loader {
  margin-left: 45%;
  margin-top: 35%;
  position: absolute; }

#youtube_loader {
  position: absolute;
  margin-top: 100px;
  margin-left: 10%;
  z-index: 9999;
  width: 100px;
  height: 70px;
  font-size: 10px;
  margin-left: 50px;
  margin-top: 10px; }

#youtube_loader > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }

#youtube_loader .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

#youtube_loader .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

#youtube_loader .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

#youtube_loader .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1); } }

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

.videoWrapper iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%; }

#mobile_header_content #logo_zone {
  width: 85%;
  padding-top: 15px;
  padding-left: 15px; }
  #mobile_header_content #logo_zone #main_logo {
    width: 250px; }
#mobile_header_content #contact_zone {
  padding-top: 30px;
  text-align: center;
  color: #00ffbb; }
#mobile_header_content a:link {
  font-size: .8em;
  color: #00ffbb;
  text-decoration: none; }
#mobile_header_content #blog_link {
  padding-right: 10px;
  font-size: .8em; }
#mobile_header_content #contact_link {
  padding-left: 10px;
  font-size: .8em; }

#mobile_main_container {
  width: 74%;
  height: auto;
  z-index: -999;
  margin-top: 100px;
  display: block;
  padding-left: 10%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  #mobile_main_container h1 {
    font-weight: 700;
    color: #f2eacf;
    margin-bottom: -25px;
    font-size: 2.0em;
    opacity: 0.5;
    font-family: 'avenirBlack'; }
  #mobile_main_container h4 {
    color: #00ffbb;
    font-size: 1.1em;
    margin-bottom: 0px;
    margin-top: 30px; }
  #mobile_main_container h5 {
    color: #f2eacf;
    font-size: 1.2em;
    margin-top: 5px;
    font-style: italic;
    font-family: 'avenirBook'; }
  #mobile_main_container #email_field {
    margin-top: 30px;
    margin-bottom: 12px;
    width: 100%; }
    #mobile_main_container #email_field input {
      width: 100%;
      font-size: 0.8em;
      color: white; }
    #mobile_main_container #email_field input[type="email"] {
      background: transparent;
      border: 4px solid rgba(255, 255, 255, 0.3);
      padding: 15px 0px 15px 20px; }
  #mobile_main_container .success {
    display: none; }
  #mobile_main_container #error {
    color: #ff3300;
    display: none; }
  #mobile_main_container #username_field {
    margin-top: 30px;
    width: 100%; }
    #mobile_main_container #username_field input {
      width: 100%;
      font-size: 0.8em;
      color: white; }
    #mobile_main_container #username_field input[type="text"] {
      background: transparent;
      border: 4px solid rgba(255, 255, 255, 0.3);
      padding: 15px 0px 15px 20px; }
  #mobile_main_container #submit_field {
    width: 100%;
    margin-top: 10px; }
    #mobile_main_container #submit_field button {
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
      box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
      color: #333333;
      background-color: #ff3300;
      border: none;
      font-size: 16px;
      font-weight: 400;
      height: 48px;
      padding: 4px 36px; }
  #mobile_main_container .twitter {
    margin-left: -20px; }
    #mobile_main_container .twitter img {
      width: 30px;
      margin-top: 3px; }
    #mobile_main_container .twitter .fb_share {
      width: 13px;
      margin-left: 15px; }
  #mobile_main_container #social_share {
    display: none;
    margin-bottom: -50px;
    text-align: center; }
  #mobile_main_container .url_success {
    display: none;
    margin-top: 100px; }
  #mobile_main_container #submit_video {
    margin-top: 100px;
    display: none; }
  #mobile_main_container #video_url {
    margin-top: 30px;
    margin-bottom: 12px;
    width: 100%; }
    #mobile_main_container #video_url input {
      width: 100%;
      font-size: 0.8em;
      color: white; }
    #mobile_main_container #video_url input[type="url"] {
      background: transparent;
      border: 4px solid rgba(255, 255, 255, 0.3);
      padding: 15px 0px 15px 20px; }
  #mobile_main_container #submit_video_field {
    width: 100%;
    margin-top: 10px; }
    #mobile_main_container #submit_video_field button {
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
      box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
      color: #333333;
      background-color: #ff3300;
      border: none;
      font-size: 16px;
      font-weight: 400;
      height: 48px;
      padding: 4px 36px; }

.transparent_top {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -999; }

#background_slider {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden; }

@media (min-height: 1281px) {
  /* some CSS for small resolution */
  .background_video {
    height: 1400px;
    right: 0px; } }
@media (min-height: 1000px) and (max-height: 1280px) {
  /* some CSS for small resolution */
  .background_video {
    height: 1280px;
    right: 0px; } }
@media (min-height: 800px) and (max-height: 999px) {
  /* some CSS for small resolution */
  .background_video {
    height: 1000px;
    right: 0px; } }
@media (min-height: 500px) and (max-height: 799px) {
  /* some CSS for small resolution */
  .background_video {
    height: 800px;
    right: 0px; } }
@media (min-height: 1px) and (max-height: 499px) {
  /* some CSS for small resolution */
  .background_video {
    height: 500px;
    right: 0px; } }
.spinner {
  width: 100px;
  height: 70px;
  font-size: 10px;
  margin-left: 50px;
  margin-top: 10px;
  display: none; }

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1); } }

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

section {
  padding: 1em 2em 5em;
  text-align: center;
  font-size: 1.5em; }

section p {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0; }

section button {
  border: none;
  padding: 15px 30px;
  outline: none;
  background: #00ffbb; }

.related > a {
  border: 1px solid #00ffbb;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
  padding: 25px;
  color: #00ffbb;
  opacity: 0.8;
  -webkit-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
  -webkit-backface-visibility: hidden; }

.related a:hover {
  border-color: #82b222;
  color: #82b222; }

.related a img {
  max-width: 100%; }

.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-align: left;
  font-size: 65%;
  font-weight: 400; }

@media screen and (max-width: 25em) {
  .codrops-icon span {
    display: none; } }
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 255, 189, 0.9); }

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100; }

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative; }

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #e3fcb1; }

/* Effects */
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s; }

.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out; }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }

  .overlay ul li {
    min-height: 34px; } }
